<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.CompetitionMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Competition">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="organizer" property="organizer"/>
        <result column="participating_number" property="participatingNumber"/>
        <result column="competition_leader" property="competitionLeader"/>
        <result column="responsible_teacher" property="responsibleTeacher"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="agency_address" property="agencyAddress"/>
        <result column="approval_department" property="approvalDepartment"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="grade" property="grade"/>
        <result column="file_id" property="fileId"/>
        <result column="create_time" property="createTime"/>
        <result column="table_id" property="tableId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `organizer`,
        `participating_number`,
        `competition_leader`,
        `responsible_teacher`,
        `phone`,
        `address`,
        `agency_address`,
        `approval_department`,
        `approval_time`,
        `grade`,
        `file_id`,
        `create_time`,
        `table_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jx_competition_direct (
            `id`,
            `name`,
            `organizer`,
            `participating_number`,
            `competition_leader`,
            `responsible_teacher`,
            `phone`,
            `address`,
            `agency_address`,
            `approval_department`,
            `approval_time`,
            `grade`,
            `file_id`,
            `create_time`,
            `table_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.organizer},
            #{pojo.participatingNumber},
            #{pojo.competitionLeader},
            #{pojo.responsibleTeacher},
            #{pojo.phone},
            #{pojo.address},
            #{pojo.agencyAddress},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.grade},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jx_competition_direct
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.organizer!=null"> `organizer`,</if>
            <if test="pojo.participatingNumber!=null"> `participating_number`,</if>
            <if test="pojo.competitionLeader!=null"> `competition_leader`,</if>
            <if test="pojo.responsibleTeacher!=null"> `responsible_teacher`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.address!=null"> `address`,</if>
            <if test="pojo.agencyAddress!=null"> `agency_address`,</if>
            <if test="pojo.approvalDepartment!=null"> `approval_department`,</if>
            <if test="pojo.approvalTime!=null"> `approval_time`,</if>
            <if test="pojo.grade!=null"> `grade`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.tableId!=null"> `table_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.organizer!=null">#{pojo.organizer},</if>
            <if test="pojo.participatingNumber!=null">#{pojo.participatingNumber},</if>
            <if test="pojo.competitionLeader!=null">#{pojo.competitionLeader},</if>
            <if test="pojo.responsibleTeacher!=null">#{pojo.responsibleTeacher},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.address!=null">#{pojo.address},</if>
            <if test="pojo.agencyAddress!=null">#{pojo.agencyAddress},</if>
            <if test="pojo.approvalDepartment!=null">#{pojo.approvalDepartment},</if>
            <if test="pojo.approvalTime!=null">#{pojo.approvalTime},</if>
            <if test="pojo.grade!=null">#{pojo.grade},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.tableId!=null"> #{pojo.tableId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO jx_competition_direct (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.organizer},
            #{pojo.participatingNumber},
            #{pojo.competitionLeader},
            #{pojo.responsibleTeacher},
            #{pojo.phone},
            #{pojo.address},
            #{pojo.agencyAddress},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.grade},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE jx_competition_direct
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.organizer != null"> `organizer` = #{pojo.organizer}, </if>
            <if test="pojo.participatingNumber != null"> `participating_number` = #{pojo.participatingNumber}, </if>
            <if test="pojo.competitionLeader != null"> `competition_leader` = #{pojo.competitionLeader}, </if>
            <if test="pojo.responsibleTeacher != null"> `responsible_teacher` = #{pojo.responsibleTeacher}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.address != null"> `address` = #{pojo.address}, </if>
            <if test="pojo.agencyAddress != null"> `agency_address` = #{pojo.agencyAddress}, </if>
            <if test="pojo.approvalDepartment != null"> `approval_department` = #{pojo.approvalDepartment}, </if>
            <if test="pojo.approvalTime != null"> `approval_time` = #{pojo.approvalTime}, </if>
            <if test="pojo.grade != null"> `grade` = #{pojo.grade}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.tableId != null"> `table_id` = #{pojo.tableId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="getCompetition" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from jx_competition_direct
        <where>
            <if test="pojo.id != null"> `id` = #{pojo.id} </if>
            <if test="pojo.name != null">and `name` = #{pojo.name} </if>
            <if test="pojo.organizer != null">and `organizer` = #{pojo.organizer} </if>
            <if test="pojo.participatingNumber != null">and `participating_number` = #{pojo.participatingNumber} </if>
            <if test="pojo.competitionLeader != null">and `competition_leader` = #{pojo.competitionLeader} </if>
            <if test="pojo.responsibleTeacher != null">and `responsible_teacher` = #{pojo.responsibleTeacher} </if>
            <if test="pojo.phone != null">and `phone` = #{pojo.phone} </if>
            <if test="pojo.address != null">and `address` = #{pojo.address} </if>
            <if test="pojo.agencyAddress != null">and `agency_address` = #{pojo.agencyAddress} </if>
            <if test="pojo.approvalDepartment != null">and `approval_department` = #{pojo.approvalDepartment} </if>
            <if test="pojo.approvalTime != null">and `approval_time` = #{pojo.approvalTime} </if>
            <if test="pojo.grade != null">and `grade` = #{pojo.grade} </if>
            <if test="pojo.fileId != null">and `file_id` = #{pojo.fileId} </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
            <if test="pojo.tableId != null">and `table_id` = #{pojo.tableId} </if>
        </where>
    </select>
    <select id="getList" resultType="java.util.Map">
        SELECT
        a.*,
        b.audit_status,
        c.id table_state,
        c.table_name
        FROM
        jx_competition_direct as a
        inner join `table` d on a.table_id = d.id
        INNER JOIN audit b ON a.table_id = b.table_id
        INNER JOIN table_state c ON b.proposer_type = c.id
        <where>
            <if test="map.name!='' and map.name!=null">
                and a.name like "%"#{map.name}"%"
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.data1!='' and map.data1!=null">
                and organizer = #{map.data1}
            </if>
            <if test="map.data2!='' and map.data2!=null">
                and competition_leader = #{map.data2}
            </if>
        </where>
    </select>
</mapper>

