<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.EducationalMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Educational">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_leader" property="projectLeader"/>
        <result column="unit_place" property="unitPlace"/>
        <result column="professional_place" property="professionalPlace"/>
        <result column="course_name" property="courseName"/>
        <result column="course_category" property="courseCategory"/>
        <result column="subject_name" property="subjectName"/>
        <result column="subject_source" property="subjectSource"/>
        <result column="declare_time" property="declareTime"/>
        <result column="project_category" property="projectCategory"/>
        <result column="declare_category" property="declareCategory"/>
        <result column="grade" property="grade"/>
        <result column="file_id" property="fileId"/>
        <result column="create_time" property="createTime"/>
        <result column="table_id" property="tableId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `project_leader`,
        `unit_place`,
        `professional_place`,
        `course_name`,
        `course_category`,
        `subject_name`,
        `subject_source`,
        `declare_time`,
        `project_category`,
        `declare_category`,
        `grade`,
        `file_id`,
        `create_time`,
        `table_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jx_educational_reform (
            `id`,
            `name`,
            `project_leader`,
            `unit_place`,
            `professional_place`,
            `course_name`,
            `course_category`,
            `subject_name`,
            `subject_source`,
            `declare_time`,
            `project_category`,
            `declare_category`,
            `grade`,
            `file_id`,
            `create_time`,
            `table_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.projectLeader},
            #{pojo.unitPlace},
            #{pojo.professionalPlace},
            #{pojo.courseName},
            #{pojo.courseCategory},
            #{pojo.subjectName},
            #{pojo.subjectSource},
            #{pojo.declareTime},
            #{pojo.projectCategory},
            #{pojo.declareCategory},
            #{pojo.grade},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jx_educational_reform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.projectLeader!=null"> `project_leader`,</if>
            <if test="pojo.unitPlace!=null"> `unit_place`,</if>
            <if test="pojo.professionalPlace!=null"> `professional_place`,</if>
            <if test="pojo.courseName!=null"> `course_name`,</if>
            <if test="pojo.courseCategory!=null"> `course_category`,</if>
            <if test="pojo.subjectName!=null"> `subject_name`,</if>
            <if test="pojo.subjectSource!=null"> `subject_source`,</if>
            <if test="pojo.declareTime!=null"> `declare_time`,</if>
            <if test="pojo.projectCategory!=null"> `project_category`,</if>
            <if test="pojo.declareCategory!=null"> `declare_category`,</if>
            <if test="pojo.grade!=null"> `grade`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.tableId!=null"> `table_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.projectLeader!=null">#{pojo.projectLeader},</if>
            <if test="pojo.unitPlace!=null">#{pojo.unitPlace},</if>
            <if test="pojo.professionalPlace!=null">#{pojo.professionalPlace},</if>
            <if test="pojo.courseName!=null">#{pojo.courseName},</if>
            <if test="pojo.courseCategory!=null">#{pojo.courseCategory},</if>
            <if test="pojo.subjectName!=null">#{pojo.subjectName},</if>
            <if test="pojo.subjectSource!=null">#{pojo.subjectSource},</if>
            <if test="pojo.declareTime!=null">#{pojo.declareTime},</if>
            <if test="pojo.projectCategory!=null">#{pojo.projectCategory},</if>
            <if test="pojo.declareCategory!=null">#{pojo.declareCategory},</if>
            <if test="pojo.grade!=null">#{pojo.grade},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.tableId!=null"> #{pojo.tableId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO jx_educational_reform (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.projectLeader},
            #{pojo.unitPlace},
            #{pojo.professionalPlace},
            #{pojo.courseName},
            #{pojo.courseCategory},
            #{pojo.subjectName},
            #{pojo.subjectSource},
            #{pojo.declareTime},
            #{pojo.projectCategory},
            #{pojo.declareCategory},
            #{pojo.grade},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE jx_educational_reform
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.projectLeader != null"> `project_leader` = #{pojo.projectLeader}, </if>
            <if test="pojo.unitPlace != null"> `unit_place` = #{pojo.unitPlace}, </if>
            <if test="pojo.professionalPlace != null"> `professional_place` = #{pojo.professionalPlace}, </if>
            <if test="pojo.courseName != null"> `course_name` = #{pojo.courseName}, </if>
            <if test="pojo.courseCategory != null"> `course_category` = #{pojo.courseCategory}, </if>
            <if test="pojo.subjectName != null"> `subject_name` = #{pojo.subjectName}, </if>
            <if test="pojo.subjectSource != null"> `subject_source` = #{pojo.subjectSource}, </if>
            <if test="pojo.declareTime != null"> `declare_time` = #{pojo.declareTime}, </if>
            <if test="pojo.projectCategory != null"> `project_category` = #{pojo.projectCategory}, </if>
            <if test="pojo.declareCategory != null"> `declare_category` = #{pojo.declareCategory}, </if>
            <if test="pojo.grade != null"> `grade` = #{pojo.grade}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
            <if test="pojo.tableId != null"> `table_id` = #{pojo.tableId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="getEducational" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from jx_educational_reform
        <where>
            <if test="pojo.id != null"> `id` = #{pojo.id} </if>
            <if test="pojo.name != null">and `name` = #{pojo.name} </if>
            <if test="pojo.projectLeader != null">and `project_leader` = #{pojo.projectLeader} </if>
            <if test="pojo.unitPlace != null">and `unit_place` = #{pojo.unitPlace} </if>
            <if test="pojo.professionalPlace != null">and `professional_place` = #{pojo.professionalPlace} </if>
            <if test="pojo.courseName != null">and `course_name` = #{pojo.courseName} </if>
            <if test="pojo.courseCategory != null">and `course_category` = #{pojo.courseCategory} </if>
            <if test="pojo.subjectName != null">and `subject_name` = #{pojo.subjectName} </if>
            <if test="pojo.subjectSource != null">and `subject_source` = #{pojo.subjectSource} </if>
            <if test="pojo.declareTime != null">and `declare_time` = #{pojo.declareTime} </if>
            <if test="pojo.projectCategory != null">and `project_category` = #{pojo.projectCategory} </if>
            <if test="pojo.declareCategory != null">and `declare_category` = #{pojo.declareCategory} </if>
            <if test="pojo.grade != null">and `grade` = #{pojo.grade} </if>
            <if test="pojo.fileId != null">and `file_id` = #{pojo.fileId} </if>
            <if test="pojo.createTime != null">and `create_time` = #{pojo.createTime} </if>
            <if test="pojo.tableId != null">and `table_id` = #{pojo.tableId} </if>
        </where>
    </select>
    <select id="getList" resultType="java.util.Map">
        SELECT
        a.*,
        b.audit_status,
        c.id table_state,
        c.table_name
        FROM
        jx_educational_reform as a
        inner join `table` d on a.table_id = d.id
        INNER JOIN audit b ON a.table_id = b.table_id
        INNER JOIN table_state c ON b.proposer_type = c.id
        <where>
            <if test="map.name!='' and map.name!=null">
                and a.name like "%"#{map.name}"%"
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.data1!='' and map.data1!=null">
                and project_leader = #{map.data1}
            </if>
            <if test="map.data2!='' and map.data2!=null">
                and course_name = #{map.data2}
            </if>
            <if test="map.data3!='' and map.data3!=null">
                and course_category = #{map.data3}
            </if>
        </where>
    </select>
</mapper>

