<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PaperMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Paper">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="first_author" property="firstAuthor"/>
        <result column="correspondence_author" property="correspondenceAuthor"/>
        <result column="first_author_type" property="firstAuthorType"/>
        <result column="publication" property="publication"/>
        <result column="time" property="time"/>
        <result column="paper_school" property="paperSchool"/>
        <result column="paper_volume" property="paperVolume"/>
        <result column="paper_page" property="paperPage"/>
        <result column="paper_grade" property="paperGrade"/>
        <result column="create_time" property="createTime"/>
        <result column="file_id" property="fileId"/>
        <result column="table_id" property="tableId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `first_author`,
        `correspondence_author`,
        `first_author_type`,
        `publication`,
        `time`,
        `paper_school`,
        `paper_volume`,
        `paper_page`,
        `paper_grade`,
        `create_time`,
        `file_id`,
        `table_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_paper (
            `id`,
            `name`,
            `first_author`,
            `correspondence_author`,
            `first_author_type`,
            `publication`,
            `time`,
            `paper_school`,
            `paper_volume`,
            `paper_page`,
            `paper_grade`,
            `create_time`,
            `file_id`,
            `table_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.firstAuthor},
            #{pojo.correspondenceAuthor},
            #{pojo.firstAuthorType},
            #{pojo.publication},
            #{pojo.time},
            #{pojo.paperSchool},
            #{pojo.paperVolume},
            #{pojo.paperPage},
            #{pojo.paperGrade},
            #{pojo.createTime},
            #{pojo.fileId},
            #{pojo.tableId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.firstAuthor!=null"> `first_author`,</if>
            <if test="pojo.correspondenceAuthor!=null"> `correspondence_author`,</if>
            <if test="pojo.firstAuthorType!=null"> `first_author_type`,</if>
            <if test="pojo.publication!=null"> `publication`,</if>
            <if test="pojo.time!=null"> `time`,</if>
            <if test="pojo.paperSchool!=null"> `paper_school`,</if>
            <if test="pojo.paperVolume!=null"> `paper_volume`,</if>
            <if test="pojo.paperPage!=null"> `paper_page`,</if>
            <if test="pojo.paperGrade!=null"> `paper_grade`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.fileId!=null"> `file_id`</if>
            <if test="pojo.tableId!=null"> `table_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.firstAuthor!=null">#{pojo.firstAuthor},</if>
            <if test="pojo.correspondenceAuthor!=null">#{pojo.correspondenceAuthor},</if>
            <if test="pojo.firstAuthorType!=null">#{pojo.firstAuthorType},</if>
            <if test="pojo.publication!=null">#{pojo.publication},</if>
            <if test="pojo.time!=null">#{pojo.time},</if>
            <if test="pojo.paperSchool!=null">#{pojo.paperSchool},</if>
            <if test="pojo.paperVolume!=null">#{pojo.paperVolume},</if>
            <if test="pojo.paperPage!=null">#{pojo.paperPage},</if>
            <if test="pojo.paperGrade!=null">#{pojo.paperGrade},</if>
            <if test="pojo.createTime!=null"> #{pojo.createTime},</if>
            <if test="pojo.fileId!=null"> `file_id`</if>
            <if test="pojo.tableId!=null"> #{pojo.tableId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO tb_paper (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.firstAuthor},
            #{pojo.correspondenceAuthor},
            #{pojo.firstAuthorType},
            #{pojo.publication},
            #{pojo.time},
            #{pojo.paperSchool},
            #{pojo.paperVolume},
            #{pojo.paperPage},
            #{pojo.paperGrade},
            #{pojo.createTime},
            #{pojo.fileId},
            #{pojo.tableId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE tb_paper
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.firstAuthor != null"> `first_author` = #{pojo.firstAuthor}, </if>
            <if test="pojo.correspondenceAuthor != null"> `correspondence_author` = #{pojo.correspondenceAuthor}, </if>
            <if test="pojo.firstAuthorType != null"> `first_author_type` = #{pojo.firstAuthorType}, </if>
            <if test="pojo.publication != null"> `publication` = #{pojo.publication}, </if>
            <if test="pojo.time != null"> `time` = #{pojo.time}, </if>
            <if test="pojo.paperSchool != null"> `paper_school` = #{pojo.paperSchool}, </if>
            <if test="pojo.paperVolume != null"> `paper_volume` = #{pojo.paperVolume}, </if>
            <if test="pojo.paperPage != null"> `paper_page` = #{pojo.paperPage}, </if>
            <if test="pojo.paperGrade != null"> `paper_grade` = #{pojo.paperGrade}, </if>
            <if test="pojo.createTime!=null">`create_time` =  #{pojo.createTime}, </if>
            <if test="pojo.fileId!=null"> `file_id`= #{pojo.fileId}, </if>
            <if test="pojo.tableId != null"> `table_id` = #{pojo.tableId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="getPaper" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from tb_paper
        <where>
            <if test="pojo.id != null">  `id` = #{pojo.id} </if>
            <if test="pojo.name != null">and `name` = #{pojo.name} </if>
            <if test="pojo.firstAuthor != null">and `first_author` = #{pojo.firstAuthor} </if>
            <if test="pojo.correspondenceAuthor != null">and `correspondence_author` = #{pojo.correspondenceAuthor} </if>
            <if test="pojo.firstAuthorType != null">and `first_author_type` = #{pojo.firstAuthorType} </if>
            <if test="pojo.publication != null">and `publication` = #{pojo.publication} </if>
            <if test="pojo.time != null">and `time` = #{pojo.time} </if>
            <if test="pojo.paperSchool != null">and `paper_school` = #{pojo.paperSchool} </if>
            <if test="pojo.paperVolume != null">and `paper_volume` = #{pojo.paperVolume} </if>
            <if test="pojo.paperPage != null">and `paper_page` = #{pojo.paperPage} </if>
            <if test="pojo.paperGrade != null">and `paper_grade` = #{pojo.paperGrade </if>
            <if test="pojo.createTime!=null">and `create_time` =  #{pojo.createTime}</if>
            <if test="pojo.tableId != null">and `table_id` = #{pojo.tableId} </if>
        </where>
    </select>
    <select id="getList" resultType="java.util.Map">
      SELECT
            a.*,
            b.audit_status,
            c.id table_state,
            c.table_name
        FROM
            tb_paper as a
            inner join `table` d on a.table_id = d.id
            INNER JOIN audit b ON a.table_id = b.table_id
            INNER JOIN table_state c ON b.proposer_type = c.id
        <where>
            <if test="map.name!='' and map.name!=null">
                and a.name like "%"#{map.name}"%"
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.data1!='' and map.data1!=null">
                and first_author = #{map.data1}
            </if>
            <if test="map.data2!='' and map.data2!=null">
                and time = #{map.data2}
            </if>
            <if test="map.data3!='' and map.data3!=null">
                and first_author_type = #{map.data3}
            </if>
        </where>
    </select>
</mapper>

