<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PatentMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Patent">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="patent_category" property="patentCategory"/>
        <result column="completer" property="completer"/>
        <result column="patent_number" property="patentNumber"/>
        <result column="sign_order" property="signOrder"/>
        <result column="unit_name" property="unitName"/>
        <result column="unit_address" property="unitAddress"/>
        <result column="file_id" property="fileId"/>
        <result column="create_time" property="createTime"/>
        <result column="table_id" property="tableId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `patent_category`,
        `completer`,
        `patent_number`,
        `sign_order`,
        `unit_name`,
        `unit_address`,
        `file_id`,
        `create_time`,
        `table_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_patent (
            `id`,
            `name`,
            `patent_category`,
            `completer`,
            `patent_number`,
            `sign_order`,
            `unit_name`,
            `unit_address`,
            `file_id`,
            `create_time`,
            `table_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.patentCategory},
            #{pojo.completer},
            #{pojo.patentNumber},
            #{pojo.signOrder},
            #{pojo.unitName},
            #{pojo.unitAddress},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_patent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.patentCategory!=null"> `patent_category`,</if>
            <if test="pojo.completer!=null"> `completer`,</if>
            <if test="pojo.patentNumber!=null"> `patent_number`,</if>
            <if test="pojo.signOrder!=null"> `sign_order`,</if>
            <if test="pojo.unitName!=null"> `unit_name`,</if>
            <if test="pojo.unitAddress!=null"> `unit_address`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.tableId!=null"> `table_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.patentCategory!=null">#{pojo.patentCategory},</if>
            <if test="pojo.completer!=null">#{pojo.completer},</if>
            <if test="pojo.patentNumber!=null">#{pojo.patentNumber},</if>
            <if test="pojo.signOrder!=null">#{pojo.signOrder},</if>
            <if test="pojo.unitName!=null">#{pojo.unitName},</if>
            <if test="pojo.unitAddress!=null">#{pojo.unitAddress},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.tableId!=null"> #{pojo.tableId},</if>

        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO tb_patent (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.patentCategory},
            #{pojo.completer},
            #{pojo.patentNumber},
            #{pojo.signOrder},
            #{pojo.unitName},
            #{pojo.unitAddress},
            #{pojo.fileId},
            #{pojo.createTime},
            #{pojo.tableId}

            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE tb_patent
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.patentCategory != null"> `patent_category` = #{pojo.patentCategory}, </if>
            <if test="pojo.completer != null"> `completer` = #{pojo.completer}, </if>
            <if test="pojo.patentNumber != null"> `patent_number` = #{pojo.patentNumber}, </if>
            <if test="pojo.signOrder != null"> `sign_order` = #{pojo.signOrder}, </if>
            <if test="pojo.unitName != null"> `unit_name` = #{pojo.unitName}, </if>
            <if test="pojo.unitAddress != null"> `unit_address` = #{pojo.unitAddress}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.tableId != null"> `table_id` = #{pojo.tableId} </if>

        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="getPatent" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from tb_patent
        <where>
            <if test="pojo.id != null"> `id` = #{pojo.id} </if>
            <if test="pojo.name != null">and `name` = #{pojo.name} </if>
            <if test="pojo.patentCategory != null">and `patent_category` = #{pojo.patentCategory} </if>
            <if test="pojo.completer != null">and `completer` = #{pojo.completer} </if>
            <if test="pojo.patentNumber != null">and `patent_number` = #{pojo.patentNumber} </if>
            <if test="pojo.signOrder != null">and `sign_order` = #{pojo.signOrder} </if>
            <if test="pojo.unitName != null">and `unit_name` = #{pojo.unitName} </if>
            <if test="pojo.unitAddress != null">and `unit_address` = #{pojo.unitAddress} </if>
            <if test="pojo.fileId != null">and `file_id` = #{pojo.fileId} </if>
            <if test="pojo.createTime != null">and `create_time` = #{pojo.createTime} </if>
            <if test="pojo.tableId != null">and `table_id` = #{pojo.tableId} </if>

        </where>
    </select>
    <select id="getList" resultType="java.util.Map">
        SELECT
        a.*,
        b.audit_status,
        c.id table_state,
        c.table_name
        FROM
        tb_patent as a
        inner join `table` d on a.table_id = d.id
        INNER JOIN audit b ON a.table_id = b.table_id
        INNER JOIN table_state c ON b.proposer_type = c.id
        <where>
            <if test="map.name!='' and map.name!=null">
                and a.name like "%"#{map.name}"%"
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.data1!='' and map.data1!=null">
                and patent_number = #{map.data1}
            </if>
            <if test="map.data2!='' and map.data2!=null">
                and completer = #{map.data2}
            </if>
            <if test="map.data3!='' and map.data3!=null">
                and patent_category = #{map.data3}
            </if>
        </where>
    </select>
</mapper>

