<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PortraitMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Portrait">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_source" property="projectSource"/>
        <result column="level" property="level"/>
        <result column="project_funding" property="projectFunding"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="completer" property="completer"/>
        <result column="sign_order" property="signOrder"/>
        <result column="unit_name" property="unitName"/>
        <result column="unit_address" property="unitAddress"/>
        <result column="file_id" property="fileId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `project_source`,
        `level`,
        `project_funding`,
        `serial_number`,
        `completer`,
        `sign_order`,
        `unit_name`,
        `unit_address`,
        `file_id`,
        `create_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_portrait (
            `id`,
            `name`,
            `project_source`,
            `level`,
            `project_funding`,
            `serial_number`,
            `completer`,
            `sign_order`,
            `unit_name`,
            `unit_address`,
            `file_id`,
            `create_time`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.projectSource},
            #{pojo.level},
            #{pojo.projectFunding},
            #{pojo.serialNumber},
            #{pojo.completer},
            #{pojo.signOrder},
            #{pojo.unitName},
            #{pojo.unitAddress},
            #{pojo.fileId},
            #{pojo.createTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO tb_portrait
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.projectSource!=null"> `project_source`,</if>
            <if test="pojo.level!=null"> `level`,</if>
            <if test="pojo.projectFunding!=null"> `project_funding`,</if>
            <if test="pojo.serialNumber!=null"> `serial_number`,</if>
            <if test="pojo.completer!=null"> `completer`,</if>
            <if test="pojo.signOrder!=null"> `sign_order`,</if>
            <if test="pojo.unitName!=null"> `unit_name`,</if>
            <if test="pojo.unitAddress!=null"> `unit_address`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.projectSource!=null">#{pojo.projectSource},</if>
            <if test="pojo.level!=null">#{pojo.level},</if>
            <if test="pojo.projectFunding!=null">#{pojo.projectFunding},</if>
            <if test="pojo.serialNumber!=null">#{pojo.serialNumber},</if>
            <if test="pojo.completer!=null">#{pojo.completer},</if>
            <if test="pojo.signOrder!=null">#{pojo.signOrder},</if>
            <if test="pojo.unitName!=null">#{pojo.unitName},</if>
            <if test="pojo.unitAddress!=null">#{pojo.unitAddress},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO tb_portrait (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.projectSource},
            #{pojo.level},
            #{pojo.projectFunding},
            #{pojo.serialNumber},
            #{pojo.completer},
            #{pojo.signOrder},
            #{pojo.unitName},
            #{pojo.unitAddress},
            #{pojo.fileId},
            #{pojo.createTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE tb_portrait
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.projectSource != null"> `project_source` = #{pojo.projectSource}, </if>
            <if test="pojo.level != null"> `level` = #{pojo.level}, </if>
            <if test="pojo.projectFunding != null"> `project_funding` = #{pojo.projectFunding}, </if>
            <if test="pojo.serialNumber != null"> `serial_number` = #{pojo.serialNumber}, </if>
            <if test="pojo.completer != null"> `completer` = #{pojo.completer}, </if>
            <if test="pojo.signOrder != null"> `sign_order` = #{pojo.signOrder}, </if>
            <if test="pojo.unitName != null"> `unit_name` = #{pojo.unitName}, </if>
            <if test="pojo.unitAddress != null"> `unit_address` = #{pojo.unitAddress}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

