<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.TechnologicalMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.Technological">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="declare_unit" property="declareUnit"/>
        <result column="plan_category" property="planCategory"/>
        <result column="special_name" property="specialName"/>
        <result column="support_unit" property="supportUnit"/>
        <result column="declare_time" property="declareTime"/>
        <result column="organization_unit" property="organizationUnit"/>
        <result column="address" property="address"/>
        <result column="declare_unit_name" property="declareUnitName"/>
        <result column="head" property="head"/>
        <result column="phone" property="phone"/>
        <result column="approval_department" property="approvalDepartment"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="file_id" property="fileId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `declare_unit`,
        `plan_category`,
        `special_name`,
        `support_unit`,
        `declare_time`,
        `organization_unit`,
        `address`,
        `declare_unit_name`,
        `head`,
        `phone`,
        `approval_department`,
        `approval_time`,
        `file_id`,
        `create_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jt_technological_innovation (
            `id`,
            `name`,
            `declare_unit`,
            `plan_category`,
            `special_name`,
            `support_unit`,
            `declare_time`,
            `organization_unit`,
            `address`,
            `declare_unit_name`,
            `head`,
            `phone`,
            `approval_department`,
            `approval_time`,
            `file_id`,
            `create_time`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.declareUnit},
            #{pojo.planCategory},
            #{pojo.specialName},
            #{pojo.supportUnit},
            #{pojo.declareTime},
            #{pojo.organizationUnit},
            #{pojo.address},
            #{pojo.declareUnitName},
            #{pojo.head},
            #{pojo.phone},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.fileId},
            #{pojo.createTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jt_technological_innovation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.declareUnit!=null"> `declare_unit`,</if>
            <if test="pojo.planCategory!=null"> `plan_category`,</if>
            <if test="pojo.specialName!=null"> `special_name`,</if>
            <if test="pojo.supportUnit!=null"> `support_unit`,</if>
            <if test="pojo.declareTime!=null"> `declare_time`,</if>
            <if test="pojo.organizationUnit!=null"> `organization_unit`,</if>
            <if test="pojo.address!=null"> `address`,</if>
            <if test="pojo.declareUnitName!=null"> `declare_unit_name`,</if>
            <if test="pojo.head!=null"> `head`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.approvalDepartment!=null"> `approval_department`,</if>
            <if test="pojo.approvalTime!=null"> `approval_time`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.declareUnit!=null">#{pojo.declareUnit},</if>
            <if test="pojo.planCategory!=null">#{pojo.planCategory},</if>
            <if test="pojo.specialName!=null">#{pojo.specialName},</if>
            <if test="pojo.supportUnit!=null">#{pojo.supportUnit},</if>
            <if test="pojo.declareTime!=null">#{pojo.declareTime},</if>
            <if test="pojo.organizationUnit!=null">#{pojo.organizationUnit},</if>
            <if test="pojo.address!=null">#{pojo.address},</if>
            <if test="pojo.declareUnitName!=null">#{pojo.declareUnitName},</if>
            <if test="pojo.head!=null">#{pojo.head},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.approvalDepartment!=null">#{pojo.approvalDepartment},</if>
            <if test="pojo.approvalTime!=null">#{pojo.approvalTime},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO jt_technological_innovation (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.declareUnit},
            #{pojo.planCategory},
            #{pojo.specialName},
            #{pojo.supportUnit},
            #{pojo.declareTime},
            #{pojo.organizationUnit},
            #{pojo.address},
            #{pojo.declareUnitName},
            #{pojo.head},
            #{pojo.phone},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.fileId},
            #{pojo.createTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE jt_technological_innovation
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.declareUnit != null"> `declare_unit` = #{pojo.declareUnit}, </if>
            <if test="pojo.planCategory != null"> `plan_category` = #{pojo.planCategory}, </if>
            <if test="pojo.specialName != null"> `special_name` = #{pojo.specialName}, </if>
            <if test="pojo.supportUnit != null"> `support_unit` = #{pojo.supportUnit}, </if>
            <if test="pojo.declareTime != null"> `declare_time` = #{pojo.declareTime}, </if>
            <if test="pojo.organizationUnit != null"> `organization_unit` = #{pojo.organizationUnit}, </if>
            <if test="pojo.address != null"> `address` = #{pojo.address}, </if>
            <if test="pojo.declareUnitName != null"> `declare_unit_name` = #{pojo.declareUnitName}, </if>
            <if test="pojo.head != null"> `head` = #{pojo.head}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.approvalDepartment != null"> `approval_department` = #{pojo.approvalDepartment}, </if>
            <if test="pojo.approvalTime != null"> `approval_time` = #{pojo.approvalTime}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
    <select id="getTechnological" resultMap="AllColumnMap">
        select <include refid="all_column"/>
        from jt_technological_innovation
        <where>
            <if test="pojo.id != null"> `id` = #{pojo.id} </if>
            <if test="pojo.name != null">and `name` = #{pojo.name} </if>
            <if test="pojo.declareUnit != null">and `declare_unit` = #{pojo.declareUnit} </if>
            <if test="pojo.planCategory != null">and `plan_category` = #{pojo.planCategory} </if>
            <if test="pojo.specialName != null">and `special_name` = #{pojo.specialName} </if>
            <if test="pojo.supportUnit != null">and `support_unit` = #{pojo.supportUnit} </if>
            <if test="pojo.declareTime != null">and `declare_time` = #{pojo.declareTime} </if>
            <if test="pojo.organizationUnit != null">and `organization_unit` = #{pojo.organizationUnit} </if>
            <if test="pojo.address != null">and `address` = #{pojo.address} </if>
            <if test="pojo.declareUnitName != null">and `declare_unit_name` = #{pojo.declareUnitName} </if>
            <if test="pojo.head != null">and `head` = #{pojo.head} </if>
            <if test="pojo.phone != null">and `phone` = #{pojo.phone} </if>
            <if test="pojo.approvalDepartment != null">and `approval_department` = #{pojo.approvalDepartment} </if>
            <if test="pojo.approvalTime != null">and `approval_time` = #{pojo.approvalTime} </if>
            <if test="pojo.fileId != null">and `file_id` = #{pojo.fileId} </if>
            <if test="pojo.createTime != null">and `create_time` = #{pojo.createTime} </if>
        </where>
    </select>
</mapper>

