<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.BaseInfoMapper">


    <update id="changeInfo">
        update user_details set name = #{map.name},phone = #{map.phone},email = #{map.email},gender = #{map.gender},
        office_id = #{map.office_id},note=#{map.note}

        where user_id = #{map.id}
    </update>
    <select id="userInfo" resultType="hxc.manage.model.UserDetail">
        select a.id,a.workID,a.`name`,a.phone,a.email,a.note,a.user_id,a.gender,a.office_id
        from user_details a
        where user_id = #{id}
    </select>
    <select id="getOffices" resultType="hxc.manage.model.Office">
        select * from office
    </select>


</mapper>