<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.BaseInfoMapper">


    <update id="changeInfo">
        update user_details
         <set>
             <if test="map.name!= '' and map.name!=null">
                 name = #{map.name},
             </if>
             <if test="map.phone!= '' and map.phone!=null">
                 phone = #{map.phone},
             </if>
             <if test="map.email!= '' and map.email!=null">
                 email = #{map.email},
             </if>
             <if test="map.gender!= '' and map.gender!=null">
                 gender = #{map.gender},
             </if>
             <if test="map.office_id!= '' and map.office_id!=null">
                 office_id = #{map.office_id},
             </if>
             <if test="map.note!= '' and map.note!=null">
                 note=#{map.note},
             </if>
         </set>
        where user_id = #{map.id}
    </update>
    <select id="userInfo" resultType="hxc.manage.model.UserDetail">
         select a.id,a.workID,a.`name`,a.phone,a.email,a.note,a.user_id,a.gender,a.office_id,c.name department
        from user_details a left join user b on a.user_id = b.id LEFT JOIN tree_people c on b.tree = c.tree_code
        where user_id = #{id}
    </select>
    <select id="getOffices" resultType="hxc.manage.model.Office">
        select * from office
    </select>


</mapper>