<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.CenterMapper">

    <update id="editPwd">
      update `user` set password = #{newPwd} where id = #{id}
    </update>
    <select id="getPerforEcharts" resultType="java.util.Map">
        SELECT
            count( 1 )
        'value'
            ,
        CASE
            state
            WHEN 1 THEN
            '业绩'
            WHEN 2 THEN
            '荣誉'
            WHEN 3 THEN
            '科研'
        END 'name'
        FROM
            `table`
        WHERE
            user_id = #{user_id}
        GROUP BY
            state


    </select>
    <select id="getPerforEcharts1" resultType="java.util.Map">
        SELECT
        	d.id name,
	        count( 1 ) value
        FROM
            table_state d,
            ( SELECT b.state, b.id FROM `table` a, table_state b WHERE a.state = b.id and user_id = #{id}) c
        WHERE
            c.state = d.id
        GROUP BY
            d.id
    </select>
    <select id="getPerformance" resultType="java.util.Map">
        	SELECT a.table_name, a.id FROM `table` a, table_state b WHERE a.state = b.id and user_id = #{id} and b.id in(
						select a.id from table_state a,table_state b where a.state= b.id and b.id in( #{state1},#{state2}))
    </select>
</mapper>