<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.FirstSubjectMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.FirstSubject">
        <result column="id" property="id"/>
        <result column="support_school" property="supportSchool"/>
        <result column="subject_name" property="subjectName"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="declare_subject_name" property="declareSubjectName"/>
        <result column="subject_leader" property="subjectLeader"/>
        <result column="incept_name" property="inceptName"/>
        <result column="incept_time" property="inceptTime"/>
        <result column="subject_third_evaluation" property="subjectThirdEvaluation"/>
        <result column="approval_department" property="approvalDepartment"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="file_id" property="fileId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `support_school`,
        `subject_name`,
        `contact`,
        `phone`,
        `declare_subject_name`,
        `subject_leader`,
        `incept_name`,
        `incept_time`,
        `subject_third_evaluation`,
        `approval_department`,
        `approval_time`,
        `file_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jt_first_subject (
            `id`,
            `support_school`,
            `subject_name`,
            `contact`,
            `phone`,
            `declare_subject_name`,
            `subject_leader`,
            `incept_name`,
            `incept_time`,
            `subject_third_evaluation`,
            `approval_department`,
            `approval_time`,
            `file_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.supportSchool},
            #{pojo.subjectName},
            #{pojo.contact},
            #{pojo.phone},
            #{pojo.declareSubjectName},
            #{pojo.subjectLeader},
            #{pojo.inceptName},
            #{pojo.inceptTime},
            #{pojo.subjectThirdEvaluation},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.fileId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO jt_first_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.supportSchool!=null"> `support_school`,</if>
            <if test="pojo.subjectName!=null"> `subject_name`,</if>
            <if test="pojo.contact!=null"> `contact`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.declareSubjectName!=null"> `declare_subject_name`,</if>
            <if test="pojo.subjectLeader!=null"> `subject_leader`,</if>
            <if test="pojo.inceptName!=null"> `incept_name`,</if>
            <if test="pojo.inceptTime!=null"> `incept_time`,</if>
            <if test="pojo.subjectThirdEvaluation!=null"> `subject_third_evaluation`,</if>
            <if test="pojo.approvalDepartment!=null"> `approval_department`,</if>
            <if test="pojo.approvalTime!=null"> `approval_time`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.supportSchool!=null">#{pojo.supportSchool},</if>
            <if test="pojo.subjectName!=null">#{pojo.subjectName},</if>
            <if test="pojo.contact!=null">#{pojo.contact},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.declareSubjectName!=null">#{pojo.declareSubjectName},</if>
            <if test="pojo.subjectLeader!=null">#{pojo.subjectLeader},</if>
            <if test="pojo.inceptName!=null">#{pojo.inceptName},</if>
            <if test="pojo.inceptTime!=null">#{pojo.inceptTime},</if>
            <if test="pojo.subjectThirdEvaluation!=null">#{pojo.subjectThirdEvaluation},</if>
            <if test="pojo.approvalDepartment!=null">#{pojo.approvalDepartment},</if>
            <if test="pojo.approvalTime!=null">#{pojo.approvalTime},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO jt_first_subject (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.supportSchool},
            #{pojo.subjectName},
            #{pojo.contact},
            #{pojo.phone},
            #{pojo.declareSubjectName},
            #{pojo.subjectLeader},
            #{pojo.inceptName},
            #{pojo.inceptTime},
            #{pojo.subjectThirdEvaluation},
            #{pojo.approvalDepartment},
            #{pojo.approvalTime},
            #{pojo.fileId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE jt_first_subject
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.supportSchool != null"> `support_school` = #{pojo.supportSchool}, </if>
            <if test="pojo.subjectName != null"> `subject_name` = #{pojo.subjectName}, </if>
            <if test="pojo.contact != null"> `contact` = #{pojo.contact}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.declareSubjectName != null"> `declare_subject_name` = #{pojo.declareSubjectName}, </if>
            <if test="pojo.subjectLeader != null"> `subject_leader` = #{pojo.subjectLeader}, </if>
            <if test="pojo.inceptName != null"> `incept_name` = #{pojo.inceptName}, </if>
            <if test="pojo.inceptTime != null"> `incept_time` = #{pojo.inceptTime}, </if>
            <if test="pojo.subjectThirdEvaluation != null"> `subject_third_evaluation` = #{pojo.subjectThirdEvaluation}, </if>
            <if test="pojo.approvalDepartment != null"> `approval_department` = #{pojo.approvalDepartment}, </if>
            <if test="pojo.approvalTime != null"> `approval_time` = #{pojo.approvalTime}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

