<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="hxc.manage.model.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <association property="meta" javaType="hxc.manage.model.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
            <result column="requireAuth" property="requireAuth"/>
        </association>
        <collection property="roles" ofType="hxc.manage.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>
        <collection property="children" ofType="hxc.manage.model.Menu">
            <id column="id2" property="id"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <collection property="children" ofType="hxc.manage.model.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="MenuVoMap" type="hxc.manage.model.MenuVo">
        <result column="menuId" property="menuId" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="redirect" property="redirect" jdbcType="INTEGER"/>
        <result column="children" property="children"  jdbcType="INTEGER"/>
    </resultMap>
    <insert id="addMenu">
        insert into menu(url,path,component,name,iconCls,parentId,enabled)
        VALUES (#{url},#{path},#{component},#{name},#{iconCls},#{parentId},#{enabled})
    </insert>

    <update id="menuHideById">
        update menu set enabled=#{enable} where id = #{id}
    </update>
    <update id="upMenu">
        update menu set name = #{menu.name},component=#{menu.component},path=#{menu.path},url=#{menu.url},enabled=#{menu.enabled},parentId=#{menu.parentId},iconCls=#{menu.iconCls} where id = #{menu.id}
    </update>

    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnamezh from menu m left join menu_role mr on m.`id`=mr.`mid` left join role r on mr.`rid`=r.`id` WHERE m.`enabled`=true order by m.`id` desc
    </select>
    <select id="getMenusByUserId" parameterType="Long" resultMap="MenuVoMap">
        SELECT distinct a.id menuId,a.parentId,a.path,a.`name`,null redirect,null children  from menu a,menu_role b,user_role c where a.id = b.mid and b.rid = c.rid  and c.userid =#{hrId}
    </select>
    <select id="menuTree" resultMap="BaseResultMap">
            select m1.`id`,m1.`name`,m2.`id` as id2,m2.`name` as name2,m3.`id` as id3,m3.`name` as name3 from menu m1,menu m2,menu m3 where m1.`id`=m2.`parentId` and m2.`id`=m3.`parentId` and m3.`enabled`=true
        </select>
    <select id="getMenusByRid" resultType="Long">
        SELECT mid from menu_role WHERE rid=#{rid}
    </select>

    <select id="getAllMenus" resultType="java.util.Map">
        select * from menu where parentId = #{id}
    </select>
    <select id="getMenuCount" resultType="java.lang.Integer">
        select count(1) from menu where parentId != 0
    </select>
    <select id="getAllParent" resultType="java.util.Map">
        select * from menu where parentId = 1
    </select>

    <delete id="menuDelById">
        delete from menu where id = #{id}
    </delete>

</mapper>