<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.PartMapper">
    <insert id="insertMenuRole">
        insert into menu_role(mid,rid) values
        <foreach collection="list" item="node" separator=",">
            (#{node},#{id})
        </foreach>
    </insert>
    <insert id="editPartUser">
        insert into user_role(userid,rid,isManager) values
        <foreach collection="parts" item="part" separator=",">
            (#{part},#{partId},#{type})
        </foreach>

    </insert>
    <insert id="addPart">
        insert into role(name,nameZh,state) values (#{name},#{nameZh},1)
    </insert>
    <select id="getAllRole" resultType="hxc.manage.model.Role">
        select * from Role
    </select>
    <select id="getPartMenuById" resultType="hxc.manage.model.Part">
        SELECT c.id,c.name label,'' children

        <if test="id!='' and id !=null">
            FROM
            `menu_role` a,role b,menu c
            where a.rid = b.id and c.id = a.mid
            and b.id=#{id} and parentId =1;
        </if>
        <if test="id == '' or id==null">
            FROM
            menu c
            where parentId =1;
        </if>

    </select>
    <select id="getPartMenuSon" resultType="java.util.Map">
        select DISTINCT c.id,c.name label
        <if test="state.toString() =='1'.toString()">
            from `menu` c where c.parentId =#{id};
        </if>

        <if test="state.toString() =='0'.toString()">
            FROM
            menu_role b,
            menu c
            where c.id = b.mid and c.enabled=1 and b.rid =#{id};
        </if>
    </select>
    <select id="getTrandferUser" resultType="java.util.Map">
        SELECT
        a.`name`,
        b.id
        <if test="direct=='right'">
            FROM
            `user_details` a,
            `user` b,
            user_role c
            WHERE
            a.user_id = b.id
            AND b.enabled = 1
            AND c.userid = b.id
            AND c.rid =#{rid}
        </if>
        <if test="direct=='left'">
            FROM
            `user_details` a,
            `user` b
            WHERE
            a.user_id = b.id
            AND b.enabled = 1

        </if>
    </select>
    <select id="getTrandferManagUser" resultType="java.util.Map">
        SELECT
            a.`name`,
            b.id
        FROM
            `user_details` a,
            `user` b,
            tree_role c,
            user_role d
        WHERE
            c.roleid = d.rid
            and isManager = 1
            AND d.userid = b.id
            AND b.id = a.user_id
            AND c.roleid =#{rid}

    </select>
    <delete id="delMenuRole">
        delete from menu_role where rid=#{id}
    </delete>
    <delete id="delPartUserById">
        delete from user_role where rid =#{partId}

        and isManager = #{type}

    </delete>
    <update id="updateRoleById">
        update role
        <set>
            <if test="name!='' and name != null">
                `name`=#{name},
            </if>
            <if test="nameZh!='' and nameZh != null">
                nameZh=#{nameZh},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where
        id = #{id}
    </update>


</mapper>