<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PaentInventMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.table.PatentInvent">
        <result column="id" property="id"/>
        <result column="invent_name" property="inventName"/>
        <result column="inventor" property="inventor"/>
        <result column="phone" property="phone"/>
        <result column="invent_address" property="inventAddress"/>
        <result column="applicant" property="applicant"/>
        <result column="agent" property="agent"/>
        <result column="application_number" property="applicationNumber"/>
        <result column="applicant_address" property="applicantAddress"/>
        <result column="agency_name" property="agencyName"/>
        <result column="agency_address" property="agencyAddress"/>
        <result column="agency_code" property="agencyCode"/>
        <result column="patent_number" property="patentNumber"/>
        <result column="software_full_name" property="softwareFullName"/>
        <result column="software_short_name" property="softwareShortName"/>
        <result column="version_number" property="versionNumber"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="programming_language" property="programmingLanguage"/>
        <result column="program_amount" property="programAmount"/>
        <result column="hardware_environment" property="hardwareEnvironment"/>
        <result column="software_environment" property="softwareEnvironment"/>
        <result column="project_name" property="projectName"/>
        <result column="invention_unit" property="inventionUnit"/>
        <result column="project_leader" property="projectLeader"/>
        <result column="accepting_uni_name" property="acceptingUniName"/>
        <result column="accepting_unit_representative" property="acceptingUnitRepresentative"/>
        <result column="accepting_unit_phone" property="acceptingUnitPhone"/>
        <result column="accepting_unit_address" property="acceptingUnitAddress"/>
        <result column="file_id" property="fileId"/>
        <result column="type" property="type"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `invent_name`,
        `inventor`,
        `phone`,
        `invent_address`,
        `applicant`,
        `agent`,
        `application_number`,
        `applicant_address`,
        `agency_name`,
        `agency_address`,
        `agency_code`,
        `patent_number`,
        `software_full_name`,
        `software_short_name`,
        `version_number`,
        `start_time`,
        `finish_time`,
        `programming_language`,
        `program_amount`,
        `hardware_environment`,
        `software_environment`,
        `project_name`,
        `invention_unit`,
        `project_leader`,
        `accepting_uni_name`,
        `accepting_unit_representative`,
        `accepting_unit_phone`,
        `accepting_unit_address`,
        `file_id`,
        `type`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO paent_invent (
            `id`,
            `invent_name`,
            `inventor`,
            `phone`,
            `invent_address`,
            `applicant`,
            `agent`,
            `application_number`,
            `applicant_address`,
            `agency_name`,
            `agency_address`,
            `agency_code`,
            `patent_number`,
            `software_full_name`,
            `software_short_name`,
            `version_number`,
            `start_time`,
            `finish_time`,
            `programming_language`,
            `program_amount`,
            `hardware_environment`,
            `software_environment`,
            `project_name`,
            `invention_unit`,
            `project_leader`,
            `accepting_uni_name`,
            `accepting_unit_representative`,
            `accepting_unit_phone`,
            `accepting_unit_address`,
            `file_id`,
            `type`
        ) VALUES (
            #{pojo.id},
            #{pojo.inventName},
            #{pojo.inventor},
            #{pojo.phone},
            #{pojo.inventAddress},
            #{pojo.applicant},
            #{pojo.agent},
            #{pojo.applicationNumber},
            #{pojo.applicantAddress},
            #{pojo.agencyName},
            #{pojo.agencyAddress},
            #{pojo.agencyCode},
            #{pojo.patentNumber},
            #{pojo.softwareFullName},
            #{pojo.softwareShortName},
            #{pojo.versionNumber},
            #{pojo.startTime},
            #{pojo.finishTime},
            #{pojo.programmingLanguage},
            #{pojo.programAmount},
            #{pojo.hardwareEnvironment},
            #{pojo.softwareEnvironment},
            #{pojo.projectName},
            #{pojo.inventionUnit},
            #{pojo.projectLeader},
            #{pojo.acceptingUniName},
            #{pojo.acceptingUnitRepresentative},
            #{pojo.acceptingUnitPhone},
            #{pojo.acceptingUnitAddress},
            #{pojo.fileId},
            #{pojo.type}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO paent_invent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.inventName!=null"> `invent_name`,</if>
            <if test="pojo.inventor!=null"> `inventor`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.inventAddress!=null"> `invent_address`,</if>
            <if test="pojo.applicant!=null"> `applicant`,</if>
            <if test="pojo.agent!=null"> `agent`,</if>
            <if test="pojo.applicationNumber!=null"> `application_number`,</if>
            <if test="pojo.applicantAddress!=null"> `applicant_address`,</if>
            <if test="pojo.agencyName!=null"> `agency_name`,</if>
            <if test="pojo.agencyAddress!=null"> `agency_address`,</if>
            <if test="pojo.agencyCode!=null"> `agency_code`,</if>
            <if test="pojo.patentNumber!=null"> `patent_number`,</if>
            <if test="pojo.softwareFullName!=null"> `software_full_name`,</if>
            <if test="pojo.softwareShortName!=null"> `software_short_name`,</if>
            <if test="pojo.versionNumber!=null"> `version_number`,</if>
            <if test="pojo.startTime!=null"> `start_time`,</if>
            <if test="pojo.finishTime!=null"> `finish_time`,</if>
            <if test="pojo.programmingLanguage!=null"> `programming_language`,</if>
            <if test="pojo.programAmount!=null"> `program_amount`,</if>
            <if test="pojo.hardwareEnvironment!=null"> `hardware_environment`,</if>
            <if test="pojo.softwareEnvironment!=null"> `software_environment`,</if>
            <if test="pojo.projectName!=null"> `project_name`,</if>
            <if test="pojo.inventionUnit!=null"> `invention_unit`,</if>
            <if test="pojo.projectLeader!=null"> `project_leader`,</if>
            <if test="pojo.acceptingUniName!=null"> `accepting_uni_name`,</if>
            <if test="pojo.acceptingUnitRepresentative!=null"> `accepting_unit_representative`,</if>
            <if test="pojo.acceptingUnitPhone!=null"> `accepting_unit_phone`,</if>
            <if test="pojo.acceptingUnitAddress!=null"> `accepting_unit_address`,</if>
            <if test="pojo.fileId!=null"> `file_id`,</if>
            <if test="pojo.type!=null"> `type`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.inventName!=null">#{pojo.inventName},</if>
            <if test="pojo.inventor!=null">#{pojo.inventor},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.inventAddress!=null">#{pojo.inventAddress},</if>
            <if test="pojo.applicant!=null">#{pojo.applicant},</if>
            <if test="pojo.agent!=null">#{pojo.agent},</if>
            <if test="pojo.applicationNumber!=null">#{pojo.applicationNumber},</if>
            <if test="pojo.applicantAddress!=null">#{pojo.applicantAddress},</if>
            <if test="pojo.agencyName!=null">#{pojo.agencyName},</if>
            <if test="pojo.agencyAddress!=null">#{pojo.agencyAddress},</if>
            <if test="pojo.agencyCode!=null">#{pojo.agencyCode},</if>
            <if test="pojo.patentNumber!=null">#{pojo.patentNumber},</if>
            <if test="pojo.softwareFullName!=null">#{pojo.softwareFullName},</if>
            <if test="pojo.softwareShortName!=null">#{pojo.softwareShortName},</if>
            <if test="pojo.versionNumber!=null">#{pojo.versionNumber},</if>
            <if test="pojo.startTime!=null">#{pojo.startTime},</if>
            <if test="pojo.finishTime!=null">#{pojo.finishTime},</if>
            <if test="pojo.programmingLanguage!=null">#{pojo.programmingLanguage},</if>
            <if test="pojo.programAmount!=null">#{pojo.programAmount},</if>
            <if test="pojo.hardwareEnvironment!=null">#{pojo.hardwareEnvironment},</if>
            <if test="pojo.softwareEnvironment!=null">#{pojo.softwareEnvironment},</if>
            <if test="pojo.projectName!=null">#{pojo.projectName},</if>
            <if test="pojo.inventionUnit!=null">#{pojo.inventionUnit},</if>
            <if test="pojo.projectLeader!=null">#{pojo.projectLeader},</if>
            <if test="pojo.acceptingUniName!=null">#{pojo.acceptingUniName},</if>
            <if test="pojo.acceptingUnitRepresentative!=null">#{pojo.acceptingUnitRepresentative},</if>
            <if test="pojo.acceptingUnitPhone!=null">#{pojo.acceptingUnitPhone},</if>
            <if test="pojo.acceptingUnitAddress!=null">#{pojo.acceptingUnitAddress},</if>
            <if test="pojo.fileId!=null">#{pojo.fileId},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO paent_invent (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.inventName},
            #{pojo.inventor},
            #{pojo.phone},
            #{pojo.inventAddress},
            #{pojo.applicant},
            #{pojo.agent},
            #{pojo.applicationNumber},
            #{pojo.applicantAddress},
            #{pojo.agencyName},
            #{pojo.agencyAddress},
            #{pojo.agencyCode},
            #{pojo.patentNumber},
            #{pojo.softwareFullName},
            #{pojo.softwareShortName},
            #{pojo.versionNumber},
            #{pojo.startTime},
            #{pojo.finishTime},
            #{pojo.programmingLanguage},
            #{pojo.programAmount},
            #{pojo.hardwareEnvironment},
            #{pojo.softwareEnvironment},
            #{pojo.projectName},
            #{pojo.inventionUnit},
            #{pojo.projectLeader},
            #{pojo.acceptingUniName},
            #{pojo.acceptingUnitRepresentative},
            #{pojo.acceptingUnitPhone},
            #{pojo.acceptingUnitAddress},
            #{pojo.fileId},
            #{pojo.type}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE paent_invent
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.inventName != null"> `invent_name` = #{pojo.inventName}, </if>
            <if test="pojo.inventor != null"> `inventor` = #{pojo.inventor}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.inventAddress != null"> `invent_address` = #{pojo.inventAddress}, </if>
            <if test="pojo.applicant != null"> `applicant` = #{pojo.applicant}, </if>
            <if test="pojo.agent != null"> `agent` = #{pojo.agent}, </if>
            <if test="pojo.applicationNumber != null"> `application_number` = #{pojo.applicationNumber}, </if>
            <if test="pojo.applicantAddress != null"> `applicant_address` = #{pojo.applicantAddress}, </if>
            <if test="pojo.agencyName != null"> `agency_name` = #{pojo.agencyName}, </if>
            <if test="pojo.agencyAddress != null"> `agency_address` = #{pojo.agencyAddress}, </if>
            <if test="pojo.agencyCode != null"> `agency_code` = #{pojo.agencyCode}, </if>
            <if test="pojo.patentNumber != null"> `patent_number` = #{pojo.patentNumber}, </if>
            <if test="pojo.softwareFullName != null"> `software_full_name` = #{pojo.softwareFullName}, </if>
            <if test="pojo.softwareShortName != null"> `software_short_name` = #{pojo.softwareShortName}, </if>
            <if test="pojo.versionNumber != null"> `version_number` = #{pojo.versionNumber}, </if>
            <if test="pojo.startTime != null"> `start_time` = #{pojo.startTime}, </if>
            <if test="pojo.finishTime != null"> `finish_time` = #{pojo.finishTime}, </if>
            <if test="pojo.programmingLanguage != null"> `programming_language` = #{pojo.programmingLanguage}, </if>
            <if test="pojo.programAmount != null"> `program_amount` = #{pojo.programAmount}, </if>
            <if test="pojo.hardwareEnvironment != null"> `hardware_environment` = #{pojo.hardwareEnvironment}, </if>
            <if test="pojo.softwareEnvironment != null"> `software_environment` = #{pojo.softwareEnvironment}, </if>
            <if test="pojo.projectName != null"> `project_name` = #{pojo.projectName}, </if>
            <if test="pojo.inventionUnit != null"> `invention_unit` = #{pojo.inventionUnit}, </if>
            <if test="pojo.projectLeader != null"> `project_leader` = #{pojo.projectLeader}, </if>
            <if test="pojo.acceptingUniName != null"> `accepting_uni_name` = #{pojo.acceptingUniName}, </if>
            <if test="pojo.acceptingUnitRepresentative != null"> `accepting_unit_representative` = #{pojo.acceptingUnitRepresentative}, </if>
            <if test="pojo.acceptingUnitPhone != null"> `accepting_unit_phone` = #{pojo.acceptingUnitPhone}, </if>
            <if test="pojo.acceptingUnitAddress != null"> `accepting_unit_address` = #{pojo.acceptingUnitAddress}, </if>
            <if test="pojo.fileId != null"> `file_id` = #{pojo.fileId}, </if>
            <if test="pojo.type != null"> `type` = #{pojo.type} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

