<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxc.manage.mapper.PeddingMapper">
    <insert id="sendPedding" useGeneratedKeys="true" keyProperty="id">
      insert into pedding(`type`,role,main,`name`,tableId,state,url,operator,createTime)
      values(#{type},#{role},#{main},#{name},#{tableId},#{state},#{url},#{operator},#{createTime})
    </insert>

    <update id="updatePedding">
        <selectKey keyProperty='id' resultType='int' order='AFTER'>
            select role FROM pedding WHERE
            tableId = #{tableId}
        </selectKey>
      update pedding
      <set>

          role = #{role},state=#{state},updateTime=#{updateTime}
          <if test="main != null and main!=''">
              ,main=#{main}
          </if>
          <if test="name != null and name !=''">
              ,`name`=#{name}
          </if>
      </set>
       where tableId=#{tableId}
    </update>

    <select id="getPeddingName" resultType="hxc.manage.model.Pedding">
        select * from pedding where role = #{id} and state in ('0','1') limit #{start},#{size};
    </select>

    <select id="getPeddingName2" resultType="hxc.manage.model.Pedding">
        select * from pedding where pedding.operator=#{userId}  and pedding.state='2' limit #{start},#{size}
    </select>

    <select id="findPeddingRole" resultType="java.lang.String">

        select distinct MIN(rid) from user_role where userid = #{userId};
    </select>
    <select id="fingPhoneAndEmail" resultType="java.util.Map">

    SELECT
        email,
        phone,
        user_id
    FROM
        user_details
        INNER JOIN ( SELECT userid FROM user_role WHERE rid = #{role} AND isManager = 1 ) b ON b.userid = user_details.user_id


    </select>
    <select id="findIsManager" resultType="java.lang.Integer">
        SELECT count(0) FROM `user_role` where userid = #{userId} and rid = #{id} and isManager =1
    </select>
</mapper>