<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PerformanceMapper">
    <resultMap id="AllColumnMap" type="hxc.manage.model.Table">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="getPerformanceByUserId" resultType="java.util.Map">
        SELECT
            a.*,
            b.audit_status,
            c.id table_state,
            c.table_name
        FROM
            ${map.tableName} as a
            inner join `table` d on a.table_id = d.id
            INNER JOIN audit b ON a.table_id = b.table_id
            INNER JOIN table_state c ON b.proposer_type = c.id
            <where>
                b.proposer_id = #{map.userId}
                <if test="map.name!=null and map.name!=''">
                  and `name` = #{map.name}
                </if>
                <if test="map.tableId!=null and map.tableId!=''">
                    and d.`id` = #{map.tableId}
                </if>
                <if test="map.keywords!=null and map.keywords!=''">
                    and `name` = #{map.keywords}
                </if>
                <if test="map.table_name!=null and map.table_name!=''">
                  and `table_name` = #{map.table_name}
                </if>
                <if test="map.starTime!=null and map.endTime!=null">
                    and `create_time` between #{map.starTime} and #{map.endTime}
                </if>
                <if test="map.audit_status!=null and map.audit_status!=''">
                    and `audit_status` = #{map.audit_status}
                </if>
            </where>

    </select>
    <select id="getTableByUserId" resultMap="AllColumnMap">
        select * from `table` where user_id = #{id} limit #{start},#{size}
    </select>
    <select id="getPerformanceByUserId1" resultType="java.util.Map">
        SELECT
        a.*,
        b.audit_status,
        c.id table_state,
        c.table_name
        FROM
        ${map.tableName} as a
        inner join `table` d on a.table_id = d.id
        INNER JOIN audit b ON a.table_id = b.table_id
        INNER JOIN table_state c ON b.proposer_type = c.id
        <where>
            b.proposer_id = #{map.userId}
            <if test="map.name!=null and map.name!=''">
                and `name` = #{map.name}
            </if>
            <if test="map.tableId!=null and map.tableId!=''">
                and d.`id` = #{map.tableId}
            </if>
            <if test="map.keywords!=null and map.keywords!=''">
                and `name` = #{map.keywords}
            </if>
            <if test="map.table_name!=null and map.table_name!=''">
                and `table_name` = #{map.table_name}
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.audit_status!=null and map.audit_status!=''">
                and `audit_status` = #{map.audit_status}
            </if>
        </where>
    </select>
    <select id="getCountAudit" resultType="java.util.Map">
        SELECT
        *
        FROM
            ( SELECT count( 1 ) count1 FROM audit WHERE audit_status = 0 AND proposer_id = 14 ) a,
            ( SELECT count( 1 ) count2 FROM audit WHERE audit_status = 1 AND proposer_id = 14 ) b,
            ( SELECT count( 1 ) count3 FROM audit WHERE audit_status = 3 AND proposer_id = 14 ) c
    </select>
    <select id="getperType" resultType="java.util.Map">
        select * from table_state
    </select>

</mapper>