<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.PerformanceMapper">
    <resultMap id="AllColumnMap" type="hxc.manage.model.Table">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="getPerformanceByUserId" resultType="java.util.Map">
        SELECT
            a.*,
        <if test="map.tableName=='honor'">
            list.label,
        </if>
            b.audit_status,
            c.id table_state,
            c.table_name
        FROM
            ${map.tableName} as a
            inner join `table` d on a.table_id = d.id
            INNER JOIN audit b ON a.table_id = b.table_id
            INNER JOIN table_state c ON b.proposer_type = c.id
        <if test="map.tableName=='honor'">
            inner join
            list on a.name = list.id
        </if>
            <where>
                <if test="map.type eq 's'.toString()">
                    and a.type = 1
                </if>
                <if test="map.type eq 'g'.toString()">
                    and a.type = 2
                </if>
                <if test="map.userId!=null and map.userId!=''">
                    and b.proposer_id = #{map.userId}
                </if>
                <if test="map.name!=null and map.name!=''">
                    and a.`name` like "%"#{map.name}"%"
                </if>
                <if test="map.tableId!=null and map.tableId!=''">
                    and d.`id` = #{map.tableId}
                </if>
                <if test="map.keywords!=null and map.keywords!=''">
                    and a.`name` like "%"#{map.keywords}"%"
                </if>
                <if test="map.table_name!=null and map.table_name!=''">
                    and `table_name` = #{map.table_name}
                </if>
                <if test="map.starTime!=null and map.endTime!=null">
                    and `create_time` between #{map.starTime} and #{map.endTime}
                </if>
                <if test="map.audit_status!=null and map.audit_status!=''">
                    and `audit_status` = #{map.audit_status}
                </if>
            </where>
    </select>
    <select id="getTableByUserId" resultMap="AllColumnMap">
        select * from `table` where user_id = #{id}
    </select>
    <select id="getPerformanceByUserId1" resultType="java.util.Map">
        SELECT
        a.*,
        <if test="map.tableName=='honor'">
            list.label,
        </if>
        b.audit_status,
        c.id table_state,
        c.table_name
        FROM
        ${map.tableName} as a
        inner join `table` d on a.table_id = d.id
        INNER JOIN audit b ON a.table_id = b.table_id
        INNER JOIN table_state c ON b.proposer_type = c.id
        <if test="map.tableName=='honor'">
            inner join
            list on a.name = list.id
        </if>
        <where>
            <if test="map.userId!=null and map.userId!=''">
                and b.proposer_id = #{map.userId}
            </if>
            <if test="map.name!=null and map.name!=''">
                and a.`name` like "%"#{map.name}"%"
            </if>
            <if test="map.tableId!=null and map.tableId!=''">
                and d.`id` = #{map.tableId}
            </if>
            <if test="map.keywords!=null and map.keywords!=''">
                and a.`name` like "%"#{map.keywords}"%"
            </if>
            <if test="map.table_name!=null and map.table_name!=''">
                and `table_name` = #{map.table_name}
            </if>
            <if test="map.starTime!=null and map.endTime!=null">
                and `create_time` between #{map.starTime} and #{map.endTime}
            </if>
            <if test="map.audit_status!=null and map.audit_status!=''">
                and `audit_status` = #{map.audit_status}
            </if>
        </where>
    </select>
    <select id="getCountAudit" resultType="java.util.Map">
        SELECT
        *
        FROM
            ( SELECT count( 1 ) count1 FROM audit WHERE audit_status = 0 AND proposer_id = 14 ) a,
            ( SELECT count( 1 ) count2 FROM audit WHERE audit_status = 1 AND proposer_id = 14 ) b,
            ( SELECT count( 1 ) count3 FROM audit WHERE audit_status = 3 AND proposer_id = 14 ) c
    </select>
    <select id="getperType" resultType="java.util.Map">
        select * from table_state
        <where>
            <if test="state!='' and state!=null ">
                and state = #{state}
            </if>
            <if test="id!='' and id!=null ">
                and id = #{id}
            </if>
            <if test="group=='group'">
                and state in (2,4,6) or id in (2,4,6)
            </if>
            <if test="group=='self'">
                and state in (1,3,5) or id in (1,3,5)
            </if>
        </where>
    </select>
    <select id="searchPerNameNotNull" resultType="java.util.Map">
        SELECT
            a.*
        FROM
            ( SELECT id FROM `table` WHERE user_id IN ( SELECT user_id FROM user_details WHERE `name` LIKE "%"#{map.username}"%" ) AND state = #{map.option} ) b
            INNER JOIN ( SELECT * FROM ${map.tableName} ) a ON a.table_id = b.id
            <where>
                <if test="map.name!=null and map.name!=''">
                    and a.NAME LIKE "%"#{map.name}"%"
                </if>
                <if test="map.starTime!=null and map.endTime!=null">
                    and `create_time` between #{map.starTime} and #{map.endTime}
                </if>
            </where>
            order by create_time
        <if test="map.start!=null and map.start !=''">
            limit #{map.start},#{map.size}
        </if>
    </select>

</mapper>