<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.TableMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.Table">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="state" property="state"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `user_id`,
        `content`,
        `state`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO `table` (
            `user_id`,
            `content`,
            `state`
        ) VALUES (
            #{pojo.userId},
            #{pojo.content},
            #{pojo.state}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO `table`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.userId!=null"> `user_id`,</if>
            <if test="pojo.content!=null"> `content`,</if>
            <if test="pojo.state!=null"> `state`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.content!=null">#{pojo.content},</if>
            <if test="pojo.state!=null">#{pojo.state},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO `table` (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.content},
            #{pojo.state}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE `table`
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.userId != null"> `user_id` = #{pojo.userId}, </if>
            <if test="pojo.content != null"> `content` = #{pojo.content}, </if>
            <if test="pojo.state != null"> `state` = #{pojo.state} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

