<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hxc.manage.mapper.TableMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="hxc.manage.model.Table">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="state" property="state"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `user_id`,
        `table_id`,
        `table_name`,
        `state`,
`state`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO `table` (
            `user_id`,
            `table_id`,
            `table_name`,
            `state`
        ) VALUES (
            #{pojo.userId},
            #{pojo.tableId},
            #{pojo.tableName},
            #{pojo.state}
        )
    </insert>

</mapper>

